'scopeName': 'source.yaml.gotpl'
'name': 'YAML (Go Template)'
'fileTypes': [
    'tpl'
]
'patterns': [
    {
        'include': 'source.gotemplate'
    }
    {
        'include': 'source.yaml'
    }
]
