'scopeName': 'source.yaml.gotpl'
'name': 'YAML (Go Template)'
'fileTypes': [
    'yaml.tpl',
    'yml.tpl'
]
'patterns': [
    {
        'include': 'source.gotemplate'
    }
    {
        'include': 'source.yaml'
    }
    {
        'name': 'support.function.builtin.gotemplate'
        'match': '\\b(indent|quote)\\b'
    }
]
